[submodule "libft_"]
	path = libft_
	url = git@github.com:lilafallet/libft_42.git
[submodule "libft"]
	path = libft
	url = git@github.com:lilafallet/libft_42.git
[submodule "minilibx"]
	path = minilibx
	url = git@github.com:42Paris/minilibx-linux.git
